/*.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}*/

.dropdown {
  /*position: relative;
    display: inline-block;
    border: #000;*/
  padding: 19px 0 17px;
  display: flex;
  padding: 24px 0;
}

.dropdown .dropbtn {
  outline: none;
}

.dropdown .txt-descarga {
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.23px;
  color: black;
  /*background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;*/
}

.button {
  cursor: pointer;
}

button {
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  border: 0;
  background-color: transparent;
  vertical-align: middle;
}

.dropdown .dropbtn .iconodescarga {
  width: 16px;
  height: 16px;
  margin: 4px 0 0 4px;
  vertical-align: top;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  font-family: sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*.dropdown-content a:hover {
  background-color:
}*/

.show {
  display: block;
}

.dropdown .lista-descarga {
  display: block;
  padding: 0 20px;
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}
