.carousel6 {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  justify-content: space-between; /* Espaciado entre los botones */
  align-items: flex-start;
  padding-left: 10px;
}

.slide6 {
  display: none;
  text-align: right;
}

.slide6 img {
  max-width: 40%;
  height: auto;
}

.theme {
  background-color: transparent;
  color: gray;
  padding: 10px;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: -400px;
  position: relative;
  top: ;
  left: 250px;
}

.ttl-theme {
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  top: -400px;
  left: 400px;
}

#prevseis,
#nextseis {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#prevseis img,
#nextseis img {
  width: 30px; /* Establece el ancho deseado */
  height: 30px; /* Establece la altura deseada */
}

/*.nav-izq {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 10px;
        }
        
        .nav-der {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 10px;
        }*/

.nav-der6 .nav-izq6 {
  justify-content: space-evenly;
  top: 50px;
  left: 80px;
}

#nextseis {
  position: relative;
  top: -300px;
  left: 1000px;
}

#prevseis {
  position: relative;
  top: -300px;
  left: 700px;
}
