.carousel4 {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  justify-content: space-between; /* Espaciado entre los botones */
  align-items: flex-start;
  padding-left: 10px;
}

.slide4 {
  display: none;
  text-align: right;
}

.slide4 img {
  max-width: 40%;
  height: auto;
  position: relative;
  top: -0px;
  left: ;
}

.chanel {
  background-color: transparent;
  color: gray;
  padding: 10px;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: -400px;
  position: relative;
  top: ;
  left: -300px;
}

.ttl-chanel {
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  top: -420px;
  left: -300px;
}

#prevcuatro,
#nextcuatro {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#prevcuatro img,
#nextcuatro img {
  width: 30px; /* Establece el ancho deseado */
  height: 30px;
}

/*.nav-izq {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 10px;
        }
        
        .nav-der {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 10px;
        }*/

.nav-der4 .nav-izq4 {
  justify-content: space-evenly;
  top: 50px;
  left: -20px;
}

#nextcuatro {
  position: relative;
  top: -300px;
  left: 320px;
}

#prevcuatro {
  position: relative;
  top: -300px;
  left: 50px;
}

.go-chanel {
  display: inline-block;
  padding: 8px 20px 10px;
  margin: 8px 8px 0 0;
  border-radius: 24px;
  background-color: whitesmoke;
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
  position: relative;
  left: -300px;
  top: -10px;
}
