.dropdown2 {
  padding: 19px 0 17px;
  display: flex;
  padding: 24px 0;
  
}

.txt-kakaobtn {
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.23px;
  justify-content: start;
  color: black;
  position: relative;
  top: ;
  left: 10px;
}

.logo-intro2{
    position: relative;
    top;
    left: 600px;
}

.dropdown2 .dropbtn2 {
  outline: none;
}

.dropdown2 .txt-descarga2 {
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.23px;
  color: white;
  position: relative;
  top: ;
  left: ;
}

.button {
  cursor: pointer;
}

.dropbtn2 {
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #000;
  border: 50px;
  border-radius: 15px;
  vertical-align: middle;
  position: relative;
  top: ;
  left: 650px;
}

.dropdown2 .dropbtn2 .iconodescarga2 {
  width: 16px;
  height: 16px;
  margin: 4px 0 0 4px;
  vertical-align: top;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
  font-family: sans-serif;
  cursor: pointer;
}

.dropdown-content2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {
  display: block;
}

.dropdown2 .lista-descarga2 {
  display: block;
  padding: 0 20px;
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}
.about-cont{
    display: flex;
}
.doc-footer{
    display: flex;
}
.section-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.futer{
    padding: 60px;
    display: inline;
    align-items: center;
    justify-content: space-around;
}
.titulote{
    color: #000;
}
.semititulo{
    color: gray;
}
